* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
  width: 100%;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
  color: inherit;
}

svg, img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  pointer-events: none;
}


.huge-side {
  min-height: 100vh
}

.social-icons {
  position: absolute;
  bottom: 30px;
  padding: 0;
}

.social-icons i {
  margin-right: 10px;
}

.right-side {
  margin: 0;
  padding: 0;
}

.right-side .huge-background-img {
  height: 100vh;
  background: #ECF3F7;
  position: relative;
}